.main {
}

/* элементы */
.main-navbar {
  display: flex;
  justify-content: space-around;
  max-width: 960px;
  margin: 10px auto;
}
.main-profile {
  margin: 0 auto;
}
.main-match {
  margin: 0 auto;
}
.main-user-settings {
  margin: 0 auto;
}