@import url('../../App.css');

.page-content {
  display: flex;
}

/* элементы */
.page-content-reg-form {
  margin: auto;
}

.page-content-login-form {
  margin: auto;
}

.page-content-resetpw-form {
  margin: auto;
}

.page-content-changepw-form {
  margin: auto;
}
