@import url('../../App.css');

.photo-input {
  width: 210px;
  height: 240px;
  background-color: var(--photo-input-background);
  border-radius: var(--photo-input-border-radius);
  border: 1px solid var(--photo-input-border-color);
  color: var(--photo-input-text-color);
  font-size: var(--photo-input-text-size);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
