@import url('../../App.css');

.message-box {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  padding-top: 5rem;
}

.message-box-close {
  font-size: 1rem;
  font-weight: 10;
  line-height: 1;
  color: #000;
}
.message-box-body {
  padding: 2rem;
  width: 150px;
  border-radius: 5px;
  background: #fff;
  height: 25px;
  border: 1px solid var(--button-color);
}

.message-box-body_error {
  border: 1px solid var(--input-color-error);
}
