@import url('../../App.css');

.login-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  /* align-items: center; */
}

/* элементы */
.login-form-form-name {
  margin: 10px auto;
}

.login-form-input {
  margin: 10px 0;
}

.login-form-link-reset {
  margin: 10px auto;
  color: inherit;
}
