@import url('../../App.css');

.input {
  display: flex;
  flex-direction: column;
}

/* элементы */
.input-input-tag {
  width: 100%;
  border: 1px solid var(--input-border-color);
  border-radius: var(--input-border-radius);
  box-sizing: border-box;
  padding: 5px;
}
.input-input-tag::placeholder {
  color: var(--input-placeholder-color);
}
.input-message {
  font-size: var(--input-font-size-s);
  color: var(--input-color-error);
}

/* размеры инпута */
.input-input-tag_size_s {
  font-size: 15px;
}
.input-input-tag_size_m {
  font-size: 20px;
}
.input-input-tag_size_l {
  font-size: 25px;
}

/* цвет инпута */
.input-input-tag_error {
  border: 1px solid var(--input-color-error);;
}
