@import url('../../App.css');

.button {
  border: none;
  outline: none;
  border-radius: 4px;
}

/* размеры кнопок */
.button_size_s {
  height: var(--button-size-s);
}
.button_size_m {
  height: var(--button-size-m);
}
.button_size_l {
  height: var(--button-size-l);
}

/* цвета кнопок */
.button_color_dark {
  background: var(--button-color-dark);
}
.button_color_light {
  background: var(--button-color-light);
}
