.profile {
  display: flex;
  flex-direction: column;
  max-width: 640px;
  position: relative;
}

/* элементы */
.profile-submit {
  width: 210px;
  margin: 20px auto;
}
.profile-textarea {
  width: 360px;
  margin: 20px auto;
}
