:root {
  /* --------- */
  /* КОНСТАНТЫ */
  /* --------- */

  /* размеры шрифтов */
  --font-size-s: 15px;
  --font-size-m: 20px;
  --font-size-l: 25px;

  /* размеры закругления углов */
  --border-radius-size-s: 4px;
  --border-radius-size-m: 8px;
  --border-radius-size-l: 12px;

  /* цвета */
  --grey-50: #fafafa;
  --grey-100: #eeeeee;
  --grey-200: #dddddd;
  --grey-500: #6b6b6b;

  /* цвета поверхностей */
  --surface-color: var(--grey-50);
  

  /* ------------------------ */
  /* СЕМАНТИЧЕСКИЕ ПЕРЕМЕННЫЕ */
  /* ------------------------ */

  /* общие поверхности */
  --surface-border-color: var(--grey-200);

  /* header */
  --header-color: var(--surface-color);

  /* логотип */
  --logo-font-size: var(--font-size-l);

  /* input */
  --input-font-size-s: var(--font-size-s);
  --input-font-size-m: var(--font-size-m);
  --input-font-size-l: var(--font-size-l);
  --input-border-radius: var(--border-radius-size-m);
  --input-border-color: var(--grey-200);

  /* кнопки */
  --button-size-s: 20px;
  --button-size-m: 25px;
  --button-size-l: 30px;
  --button-color: var(--grey-500);
  --button-border-radius: var(--border-radius-size-s);

  /* формы */
  --form-border-radius: var(--border-radius-size-m);
}

body {
  margin: 0;
  color: var(--grey-500);
  background: var(--grey-50);
  width: 100%;
  height: 100vh;
}
