@import url('../../App.css');

.reg-form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
}

/* элементы */
.reg-form-form-name {
  margin: 10px auto;
}
.reg-form-input {
  margin: 5px 0;
}
.reg-form-submit {
  margin: 5px 0;
}
